.btn{
    margin: 10px auto; 
    background-color: #ccffdd;   
    text-align: center;
    justify-content: center;
    width: 50%;
    /* height: 150px; */
    padding: 20px;
}

.bn{
    margin: 10px auto; 
    background-color: #80ffaa;   
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 20px;    
}
.b{
    margin: 10px auto; 
    background-color: #33ff77;   
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 20px;    
}

#btn{
    background-color: beige;
    border: 2px solid rgb(46, 42, 42);
    border-radius: 5px;
    padding: 2px 5px;
}
#btn:hover{
    background-color: bisque;
    border: 2px solid black;
}